.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  color: #ccc;
  background-color: rgb(31, 42, 134);
}

.Card {
  display: flex;
  flex-direction: column;
  width:20rem;
  background-color: rgb(17, 82, 136);
  margin: 1rem;
  border-radius: 5px;
}

.CardImg {
  height: 20rem;
  padding: 0px;
  border-radius: 5px 5px 0 0 ;
}
.Padding {
  padding-left: 0.5rem;
}

.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
